# EOA that holds the gas that should be used for liquidation
LIQUIDATOR_EOA=0x0001
LIQUIDATOR_PRIVATE_KEY=0x0002

# RPC URLs
MAINNET_RPC_URL=https://example.rpc.url.com
BASE_RPC_URL=https://example.base_rpc.url.com
ARBITRUM_RPC_URL=https://example.arbitrum_rpc.url.com

# GlueX API Configuration
GLUEX_API_KEY=your_gluex_api_key_here
GLUEX_API_URL=https://router.gluex.xyz/v1/quote
GLUEX_UNIQUE_PID=your_unique_partner_id_here

### OPTIONAL ###

# Slack webhook URL for sending notifications
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/SLACK_KEY

# URL for the liquidation UI, if including in the slack notification
RISK_DASHBOARD_URL=http://127.0.0.1:8080