# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
broadcast/

# Docs
docs/

# Dotenv file
.env
.env_local
.copy_env
.vscode
lcov.info

# Virtual env
python-venv/
venv/ 

# Logs and save state
logs/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

/redstone_script/node_modules

.flaskenv

/state