# Path to save location for logs
LOGS_PATH: "logs/account_monitor_logs.log"

# Path to save location for state
SAVE_STATE_PATH: "state/account_monitor.json"

# Path to save location for state (in seconds)
SAVE_INTERVAL: 1800 # 30 minutes

# Health score bounds for min/max update interval frequency
HS_LIQUIDATION: 1.0
HS_HIGH_RISK: 1.05
HS_SAFE: 1.2

# Update interval frequency (in seconds)
MIN_UPDATE_INTERVAL: 60
HIGH_RISK_UPDATE_INTERVAL: 600
MAX_UPDATE_INTERVAL: 3600 # 60 minutes

# Interval for reporting low health accounts
LOW_HEALTH_REPORT_INTERVAL: 21600 # 30 minutes
SLACK_REPORT_HEALTH_SCORE: 2
BORROW_VALUE_THRESHOLD: 1 # $1000 minimum for reporting

# Threshold for excluding small positions from frequent notifications, in USD terms
SMALL_POSITION_THRESHOLD: 500000000000000000000 # 500 USD
SMALL_POSITION_REPORT_INTERVAL: 21600 # 2 hours

ERROR_COOLDOWN: 900

# Bath size for scanning blocks on startup
BATCH_SIZE: 10000
BATCH_INTERVAL: 0.1

# Time to wait between scanning on regular intervals
SCAN_INTERVAL: 120 # 2 minutes

# Settings for 1INCH Quoting & other API calls
NUM_RETRIES: 3
RETRY_DELAY: 10

# Acceptable amound of overswapping of collateral for 1INCH binary search
SWAP_DELTA: .001 # 1%
MAX_SEARCH_ITERATIONS: 20
API_REQUEST_DELAY: .25
OVERSWAP_AMOUNT: 0.01
OVERSWAP_AMOUNT: 0.01
SWAP_SLIPPAGE: 1.0 # 1%
SWAP_DEADLINE: 300 # 5 minutes

# EVC Deployment Block
EVC_DEPLOYMENT_BLOCK: 22282342

# Addresses of relevant contracts
WETH: "0x4200000000000000000000000000000000000006"
USD: "0x0000000000000000000000000000000000000348"
BTC: "0xbBbBBBBbbBBBbbbBbbBbbbbBBbBbbbbBbBbbBBbB"

EVC: "0x5301c7dD20bD945D2013b48ed0DEE3A284ca8989"
ORACLE_LENS: "0x45159f880b061b868e56D145FC04fbED2b97dfe6"
SWAPPER: "0x0D3d0F97eD816Ca3350D627AD8e57B6AD41774df"
SWAP_VERIFIER: "0x30660764A7a05B84608812C8AFC0Cb4845439EEe"

# LIQUIDATOR_CONTRACT: "0xe730e2548Abf263a5B4E42ACA8F8b31Cd4045a93"
LIQUIDATOR_CONTRACT: "0xdB940d3EcF986dDFcfC18D30D56Ad6C42428E537"

PYTH: "0x8250f4aF4B972684F7b336503E2D6dFeDeB1487a"

ETH_ADAPTER: "0xeCa05CC73e67c344d5B146311B13ddB75F7fE4E4"
BTC_ADAPTER: "0x6f3621dF5c5e33e6F1e82Fc11999777E08A1a2A7"

# Receiver of profits
PROFIT_RECEIVER: "0x8cbB534874bab83e44a7325973D2F04493359dF8"

# Compiled contract paths
EVAULT_ABI_PATH: "contracts/EVault.json"
EVC_ABI_PATH: "contracts/EthereumVaultConnector.json"
LIQUIDATOR_ABI_PATH: "out/Liquidator.sol/Liquidator.json"
ORACLE_ABI_PATH: "contracts/IOracle.json"
PYTH_ABI_PATH: "contracts/IPyth.json"
ERC20_ABI_PATH: "out/IERC20.sol/IERC20.json"
ROUTER_ABI_PATH: "contracts/EulerRouter.json"

# Chain ID
CHAIN_ID: 8453