global:
  ## RISK PARAMETERS ##
  # Health score bounds for update interval frequency
  HS_LIQUIDATION: 1.0
  HS_HIGH_RISK: 1.02
  HS_SAFE: 1.25

  # Position size bounds for update interval frequency
  TEENY: 10000000000000000000 # $10
  MINI: 100000000000000000000 # $100
  SMALL: 1000000000000000000000 # $1000
  MEDIUM: 10000000000000000000000 # $10000
  
  
  # Interval Update Frequency Matrix
  TEENY_LIQ: 86400
  TEENY_HIGH: 86400
  TEENY_LOW: 86400
  TEENY_SAFE: 86400

  MINI_LIQ: 900
  MINI_HIGH: 14400
  MINI_LOW: 43200
  MINI_SAFE: 86400

  SMALL_LIQ: 300
  SMALL_HIGH: 3600
  SMALL_LOW: 21600
  SMALL_SAFE: 43200

  MEDIUM_LIQ: 120
  MEDIUM_HIGH: 900
  MEDIUM_LOW: 14400
  MEDIUM_SAFE: 21600

  LARGE_LIQ: 30
  LARGE_HIGH: 900
  LARGE_LOW: 3600
  LARGE_SAFE: 21600
  
  # Update interval frequency (in seconds)
  MIN_UPDATE_INTERVAL_SMALL: 300
  HIGH_RISK_UPDATE_INTERVAL: 600
  MAX_UPDATE_INTERVAL: 3600 # 60 minutes

  ## REPORTING PARAMETERS ##
  # Interval for reporting low health accounts
  LOW_HEALTH_REPORT_INTERVAL: 86400 # 24 hours
  SLACK_REPORT_HEALTH_SCORE: 1.05
  BORROW_VALUE_THRESHOLD: 10000 # $1000 minimum for reporting
  # Threshold for excluding small positions from frequent notifications, in USD terms
  SMALL_POSITION_THRESHOLD: 1000000000000000000000 # 1000 USD
  SMALL_POSITION_REPORT_INTERVAL: 43200 # 2 hours
  # Cooldown for reporting errors
  ERROR_COOLDOWN: 900

  ## MONITORING PARAMETERS ##
  # Batch size for scanning blocks on startup
  BATCH_SIZE: 9000
  BATCH_INTERVAL: 0.1
  # Time to wait between scanning on regular intervals
  SCAN_INTERVAL: 600 # 2 minutes

  ## PATHS ##
  EVAULT_ABI_PATH: "contracts/EVault.json"
  EVC_ABI_PATH: "contracts/EthereumVaultConnector.json"
  LIQUIDATOR_ABI_PATH: "out/Liquidator.sol/Liquidator.json"
  ORACLE_ABI_PATH: "contracts/IOracle.json"
  PYTH_ABI_PATH: "contracts/IPyth.json"
  ERC20_ABI_PATH: "out/IERC20.sol/IERC20.json"
  ROUTER_ABI_PATH: "contracts/EulerRouter.json"
  LOGS_PATH: "logs/account_monitor_logs.log"
  SAVE_STATE_PATH: "state"
  SAVE_INTERVAL: 1800 # 30 minutes

  ## API CALL PARAMETERS ##
  # API Retry
  NUM_RETRIES: 3
  RETRY_DELAY: 10
  # Acceptable amound of overswapping of collateral for 1INCH binary search
  API_REQUEST_DELAY: .25
  SWAP_SLIPPAGE: 1.0 # 1%
  SWAP_DEADLINE: 300 # 5 minutes

  ## PYTH FEED ID CACHE ##
  PYTH_CACHE_REFRESH: 86400
  
  ## EOA TO RECEIVE LIQUIDATION PROCEEDS ##
  PROFIT_RECEIVER: "0x8cbB534874bab83e44a7325973D2F04493359dF8"

  MAINNET_ETH_ADAPTER: "0x10674C8C1aE2072d4a75FE83f1E159425fd84E1D"
  MAINNET_ETH_ADDRESS: "0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2"
  MAINNET_BTC_ADAPTER: "0x0484Df76f561443d93548D86740b5C4A826e5A33"

chains:
  # ETH Mainnet
  1:
    # Config
    name: "Ethereum"
    EVC_DEPLOYMENT_BLOCK: 20529207
    EXPLORER_URL: "https://etherscan.io"
    RPC_NAME: "MAINNET_RPC_URL"

    # Deployed contract addresses
    contracts:
      LIQUIDATOR_CONTRACT: "0xAAF93d5475d092EA68a748137eE19D8130918392"

      #EVK Addresses
      EVC: "0x0C9a3dd6b8F28529d72d7f9cE918D493519EE383"
      SWAPPER: "0x2Bba09866b6F1025258542478C39720A09B728bF"
      SWAP_VERIFIER: "0xae26485ACDDeFd486Fe9ad7C2b34169d360737c7"
      
      # Other relevant contracts & Units of Account
      WETH: "0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2"
      USD: "0x0000000000000000000000000000000000000348"
      BTC: "0xbBbBBBBbbBBBbbbBbbBbbbbBBbBbbbbBbBbbBBbB"
      
      # PYTH address
      PYTH: "0x4305FB66699C3B2702D4d05CF36551390A4c69C6"
  
  # Base
  8453:
    # Config
    name: "Base"
    EVC_DEPLOYMENT_BLOCK: 22282342
    EXPLORER_URL: "https://basescan.org"
    RPC_NAME: "BASE_RPC_URL"

    # Deployed contract addresses
    contracts:
      LIQUIDATOR_CONTRACT: "0x76D64c2918E84d3e359511014F2A1CfA2ee2F605"

      #EVK Addresses
      EVC: "0x5301c7dD20bD945D2013b48ed0DEE3A284ca8989"
      SWAPPER: "0x0D3d0F97eD816Ca3350D627AD8e57B6AD41774df"
      SWAP_VERIFIER: "0x30660764A7a05B84608812C8AFC0Cb4845439EEe"
      
      # Other relevant contracts & Units of Account
      WETH: "0x4200000000000000000000000000000000000006"
      USD: "0x0000000000000000000000000000000000000348"
      BTC: "0xbBbBBBBbbBBBbbbBbbBbbbbBBbBbbbbBbBbbBBbB"
      
      # PYTH address
      PYTH: "0x8250f4aF4B972684F7b336503E2D6dFeDeB1487a"

  # Arbitrum
  42161:
    # Config
    name: "Arbitrum"
    EVC_DEPLOYMENT_BLOCK: 300691177
    EXPLORER_URL: "https://arbiscan.io/"
    RPC_NAME: "ARBITRUM_RPC_URL"

    # Deployed contract addresses
    contracts:
      LIQUIDATOR_CONTRACT: "0x431e0a2768de070E860F33653C4634BD69aa4c6a"

      #EVK Addresses
      EVC: "0x6302ef0F34100CDDFb5489fbcB6eE1AA95CD1066"
      SWAPPER: "0x6eE488A00A2ef1E2764cD7245F8a77C40060A7C7"
      SWAP_VERIFIER: "0x7b16DAaFa76CfeC8C08D7a68aF31949B37ebfdF5"
      
      # Other relevant contracts & Units of Account
      WETH: "0x82aF49447D8a07e3bd95BD0d56f35241523fBab1"
      USD: "0x0000000000000000000000000000000000000348" 
      BTC: "0x2f2a2543B76A4166549F7aaB2e75Bef0aefC5B0f"
      
      # PYTH address
      PYTH: "0xff1a0f4744e8582DF1aE09D5611b887B6a12925C"

  # Swell
  1923:
    # Config
    name: "Swell"
    EVC_DEPLOYMENT_BLOCK: 485320
    EXPLORER_URL: "https://explorer.swellnetwork.io"
    RPC_NAME: "SWELL_RPC_URL"

    # Deployed contract addresses
    contracts:
      LIQUIDATOR_CONTRACT: "0xBd2e8b960A7dF1Ba2107b7F5f43b1A32fD27017F"

      #EVK Addresses
      EVC: "0x08739CBede6E28E387685ba20e6409bD16969Cde"
      SWAPPER: "0x05Eb1A647265D974a1B0A57206048312604Ac6C3"
      SWAP_VERIFIER: "0x392C1570b3Bf29B113944b759cAa9a9282DA12Fe"
      
      # Other relevant contracts & Units of Account
      WETH: "0x4200000000000000000000000000000000000006"
      USD: "0x0000000000000000000000000000000000000348"
      BTC: "0xbBbBBBBbbBBBbbbBbbBbbbbBBbBbbbbBbBbbBBbB"
      
      # PYTH address
      PYTH: "0x2880aB155794e7179c9eE2e38200202908C17B43"

  # Sonic
  146:
    # Config
    name: "Sonic"
    EVC_DEPLOYMENT_BLOCK: 5324624
    EXPLORER_URL: "https://sonicscan.org"
    RPC_NAME: "SONIC_RPC_URL"

    # Deployed contract addresses
    contracts:
      LIQUIDATOR_CONTRACT: "0xEd3DaaDA3a190905Fc18D4D2b1D3D3fbF79e8508"

      #EVK Addresses
      EVC: "0x4860C903f6Ad709c3eDA46D3D502943f184D4315"
      SWAPPER: "0xbAf5B12c92711a3657DD4adA6b3C7801e83Bb56a"
      SWAP_VERIFIER: "0x003ef4048b45a5A79D4499aaBd52108B3Bc9209f"
      
      # Other relevant contracts & Units of Account
      WETH: "0x4200000000000000000000000000000000000006"
      USD: "0x0000000000000000000000000000000000000348"
      BTC: "0xbBbBBBBbbBBBbbbBbbBbbbbBBbBbbbbBbBbbBBbB"
      
      # PYTH address
      PYTH: "0x2880aB155794e7179c9eE2e38200202908C17B43"

  60808:
    name: "BOB"
    EVC_DEPLOYMENT_BLOCK: 11481883
    EXPLORER_URL: "https://explorer.gobob.xyz/"
    RPC_NAME: "BOB_RPC_URL"

    # Deployed contract addresses
    contracts:
      LIQUIDATOR_CONTRACT: "0xBd2e8b960A7dF1Ba2107b7F5f43b1A32fD27017F"

      #EVK Addresses
      EVC: "0x59f0FeEc4fA474Ad4ffC357cC8d8595B68abE47d"
      SWAPPER: "0x697Ca30D765c1603890D88AAffBa3BeCCe72059d"
      SWAP_VERIFIER: "0x296041DbdBC92171293F23c0a31e1574b791060d"
      
      # Other relevant contracts & Units of Account
      WETH: "0x4200000000000000000000000000000000000006"
      USD: "0x0000000000000000000000000000000000000348"
      BTC: "0xbBbBBBBbbBBBbbbBbbBbbbbBBbBbbbbBbBbbBBbB"
      
      # PYTH address
      PYTH: "0x2880aB155794e7179c9eE2e38200202908C17B43"
  
  239:
    name: "TAC"
    EVC_DEPLOYMENT_BLOCK: 555101
    EXPLORER_URL: "https://explorer.tac.build/"
    RPC_NAME: "TAC_RPC_URL"

    # Deployed contract addresses
    contracts:
      LIQUIDATOR_CONTRACT: "0xa0C9408f0B5D5952C00206708Ab72581c07F1256"

      #EVK Addresses
      EVC: "0x01F594c66A5561b90Bc782dD0297f294cD668b64"
      SWAPPER: "0x5ff07e50D83769861db40C5087753124D389c1c0"
      SWAP_VERIFIER: "0x5a8610DB17CfF800C8abEb6Da31B9bB1fF51843f"
      
      # Other relevant contracts & Units of Account
      WETH: "0x61D66bC21fED820938021B06e9b2291f3FB91945"
      USD: "0x0000000000000000000000000000000000000348"
      BTC: "0xbBbBBBBbbBBBbbbBbbBbbbbBBbBbbbbBbBbbBBbB"
      
      # PYTH address
      PYTH: "0x2880aB155794e7179c9eE2e38200202908C17B43"

  59144:
    name: "Linea"
    EVC_DEPLOYMENT_BLOCK: 17915450
    EXPLORER_URL: "https://lineascan.build/"
    RPC_NAME: "LINEA_RPC_URL"

    # Deployed contract addresses
    contracts:
      LIQUIDATOR_CONTRACT: "0x0888853A66c472094444430471186EDBB757b732"

      #EVK Addresses
      EVC: "0xd8CeCEe9A04eA3d941a959F68fb4486f23271d09"
      SWAPPER: "0x1480Cfff566f27BbB2AEAd6eeABEc4BA068e5405"
      SWAP_VERIFIER: "0x77C9B0E7Ac0405797F04E5230Ed0A54DB39f98f0"
      
      # Other relevant contracts & Units of Account
      WETH: "0xe5D7C2a44FfDDf6b295A15c148167daaAf5Cf34f"
      USD: "0x0000000000000000000000000000000000000348"
      BTC: "0x3aAB2285ddcDdaD8edf438C1bAB47e1a9D05a9b4"
      
      # PYTH address
      PYTH: "0xA2aa501b19aff244D90cc15a4Cf739D2725B5729"

  9745:
    name: "Plasma"
    EVC_DEPLOYMENT_BLOCK: 511125
    EXPLORER_URL: "https://plasmascan.to/"
    RPC_NAME: "PLASMA_RPC_URL"

    # Deployed contract addresses
    contracts:
      LIQUIDATOR_CONTRACT: "0xa0C9408f0B5D5952C00206708Ab72581c07F1256"

      #EVK Addresses
      EVC: "0x7bdbd0A7114aA42CA957F292145F6a931a345583"
      SWAPPER: "0x419730b755c6e76B42D2CaD9a2674a8DC748dA38"
      SWAP_VERIFIER: "0xB695C0aC484F46dD8f279452209b8C53674974bD"
      
      # Other relevant contracts & Units of Account
      WETH: "0x9895D81bB462A195b4922ED7De0e3ACD007c32CB"
      USD: "0x0000000000000000000000000000000000000348"
      BTC: "0x3aAB2285ddcDdaD8edf438C1bAB47e1a9D05a9b4"
      
      # PYTH address
      PYTH: "0xA2aa501b19aff244D90cc15a4Cf739D2725B5729"

  80094:
    name: "Berachain"
    EVC_DEPLOYMENT_BLOCK: 786266
    EXPLORER_URL: "https://berascan.com/"
    RPC_NAME: "BERA_RPC_URL"
    
    contracts:
      LIQUIDATOR_CONTRACT: "0x03Aa8c1E8792db7Ed2aEC17F32166f25d6D8635c"

      #EVK Addresses
      EVC: "0x45334608ECE7B2775136bC847EB92B5D332806A9"
      SWAPPER: "0x4A35e6A872cf35623cd3fD07ebECEDFc0170D705"
      SWAP_VERIFIER: "0x6fFf8Ac4AB123B62FF5e92aBb9fF702DCBD6C939"
      
      # Other relevant contracts & Units of Account
      WETH: "0x4200000000000000000000000000000000000006"
      USD: "0x0000000000000000000000000000000000000348"
      BTC: "0xbBbBBBBbbBBBbbbBbbBbbbbBBbBbbbbBbBbbBBbB"
      
      # PYTH address
      PYTH: "0x2880aB155794e7179c9eE2e38200202908C17B43"

  43114:
    name: "Avalanche"
    EVC_DEPLOYMENT_BLOCK: 56805692
    EXPLORER_URL: "https://avascan.info/"
    RPC_NAME: "AVAX_RPC_URL"
    
    contracts:
      LIQUIDATOR_CONTRACT: "0xBd2e8b960A7dF1Ba2107b7F5f43b1A32fD27017F"

      #EVK Addresses
      EVC: "0xddcbe30A761Edd2e19bba930A977475265F36Fa1"
      SWAPPER: "0x6E1C286e888Ab5911ca37aCeD81365d57eC29a06"
      SWAP_VERIFIER: "0x0d7938D9c31Cd7dD693752074284af133c1142de"
      
      # Other relevant contracts & Units of Account
      WETH: "0x4200000000000000000000000000000000000006"
      USD: "0x0000000000000000000000000000000000000348"
      BTC: "0xbBbBBBBbbBBBbbbBbbBbbbbBBbBbbbbBbBbbBBbB"
      
      # PYTH address
      PYTH: "0x4305FB66699C3B2702D4d05CF36551390A4c69C6"

  56:
    name: "BNB"
    EVC_DEPLOYMENT_BLOCK: 46370642
    EXPLORER_URL: "https://bscscan.com/"
    RPC_NAME: "BNB_RPC_URL"
    
    contracts:
      LIQUIDATOR_CONTRACT: "0x431e0a2768de070E860F33653C4634BD69aa4c6a"

      #EVK Addresses
      EVC: "0xb2E5a73CeE08593d1a076a2AE7A6e02925a640ea"
      SWAPPER: "0xAE4043937906975E95F885d8113D331133266Ee4"
      SWAP_VERIFIER: "0xA8a4f96EC451f39Eb95913459901f39F5E1C068B"
      
      # Other relevant contracts & Units of Account
      WETH: "0x4200000000000000000000000000000000000006"
      USD: "0x0000000000000000000000000000000000000348"
      BTC: "0xbBbBBBBbbBBBbbbBbbBbbbbBBbBbbbbBbBbbBBbB"
      
      # PYTH address
      PYTH: "0x4D7E825f80bDf85e913E0DD2A2D54927e9dE1594"

  130:
    name: "Unichain"
    EVC_DEPLOYMENT_BLOCK: 8541493
    EXPLORER_URL: "https://unichain.blockscout.com/"
    RPC_NAME: "UNICHAIN_RPC_URL"
    
    contracts:
      LIQUIDATOR_CONTRACT: "0xA8A46596a7B17542d2cf6993FC61Ea0CBb4474c1"

      #EVK Addresses
      EVC: "0x2A1176964F5D7caE5406B627Bf6166664FE83c60"
      SWAPPER: "0x319E8ecd3BaB57fE684ca1aCfaB60c5603087B3A"
      SWAP_VERIFIER: "0x7eaf8C22480129E5D7426e3A33880D7bE19B50a7"
      
      # Other relevant contracts & Units of Account
      WETH: "0x4200000000000000000000000000000000000006"
      USD: "0x0000000000000000000000000000000000000348"
      BTC: "0xbBbBBBBbbBBBbbbBbbBbbbbBBbBbbbbBbBbbBBbB"
      
      # PYTH address
      PYTH: "0x2880aB155794e7179c9eE2e38200202908C17B43"
