name: Deploy to Production

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

permissions:
  id-token: write
  contents: read
  actions: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  deploy:
    if: github.event_name == 'push'
    name: Deploy | Production
    uses: ./.github/workflows/deploy.yaml
    with:
      account: "730335381248"
      region: "ap-northeast-1"

  synth:
    if: github.event_name == 'pull_request'
    name: Dry run | Test
    uses: ./.github/workflows/test.yaml
    with:
      account: "730335381248"
      region: "ap-northeast-1"

  build:
    if: github.event_name == 'pull_request'
    name: Build container | Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build Docker Image
        run: docker build -t mewler-liquidation-bot -f Dockerfile.aws .